<section>
    <div class="container">
        <% if(account) { %>
            <button class="lgn-btn"><a href="/manage"> Manage login details</a></button>
        <% } else { %>    
            <button class="lgn-btn"><i class="fa-brands fa-discord"></i><a href="/login"> Login using discord</a></button>
        <% } %>
    </div>
</section>
      