<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hello Kitty Online</title>
        <link rel="stylesheet" href="/style.css">
    </head>

    <body>
        Create account:
        <% for(const error of errors) { %>
        <p class="error"><%= error.param %>: <%= error.msg %></p>
        <% } %>
        <form method="post" action="/create">
            <input type="text" name="username" placeholder="Username" autocomplete="username" minlength="4" maxlength="64" pattern="[a-zA-Z0-9.-]+" required>
            <br>
            <input type="password" name="password" placeholder="Password" autocomplete="new-password" minlength="6" maxlength="32" required>
            <br>
            <input type="submit" value="Submit">
        </form>
    </body>

</html>