<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hello Kitty Online</title>
        <link rel="stylesheet" href="/style.css">
    </head>

    <body>
        <% if(account) { %>
        <a href="/manage">Manage login details</a>
        <% } else { %>
        <a href="/login">Login using discord</a>
        <% } %>
    </body>

</html>