<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hello Kitty Online</title>
        <link rel="stylesheet" href="/style.css">
    </head>

    <body>
        <p>Manage login info:</p>
        <% if(errors) for(const error of errors) { %>
        <p class="error"><%= error.param %>: <%= error.msg %></p>
        <% } %>
        <form method="post" action="/manage/username">
            <input type="text" name="username" autocomplete="username" placeholder="username" minlength="4" maxlength="64" pattern="[a-zA-Z0-9.-]+" required value="<%= account.username %>">
            <input type="submit" value="Update Username">
        </form>
        <form method="post" action="/manage/password">
            <input type="password" name="password" autocomplete="new-password" placeholder="password" minlength="6" maxlength="32" required value="">
            <input type="submit" value="Update Password">
        </form>
    </body>

</html>